@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-right {
  animation: slideFromRight 2s ease;
}

.animate-slide-left {
  animation: slideFromLeft 2s ease;
}
